// out: style.css, sourcemap: true, compress: false
@import "normalize";
@import "skeleton";

///////////////////////////////////
//PALETTE//////////////////////////
///////////////////////////////////
@light-blue-twitter: #1BC8FF;
@blue-twitter: #1DA1F2;
@dark-grey: #657786;
@grey: #AAB8C2;
@light-grey: #E1E8ED;
@bg-color: #F5F8FA;
@red: #F32F52;
@light-red: #F54263;
@salmon-red: #FF5B65;
///////////////////////////////////

@body-fontsize: 20px;
@body-lineheight: 30px;

body {
	background-color: #F5F8FA;
	font-size: @body-fontsize;
}

.container, p{
	padding: 0;
}

///////////////////////////////////
//UTILITIES////////////////////////
///////////////////////////////////
.padding{
	padding-left: 15px;
	padding-right: 15px;
}

.cornice {
	padding-top: 2*@body-lineheight;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 1.5*@body-lineheight;
}

///////////////////////////////////
//HEADER///////////////////////////
///////////////////////////////////
#header {
	background-color: black;
	height: 65px;
}

#header .row {
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

///////////////////////////////////
//COPERTINA////////////////////////
///////////////////////////////////
#copertina{
         height: 90vh;
		 padding-left: 15px;
		 padding-right: 15px;
		 background: url('../images/copertina_trump_mobile.jpg') no-repeat;
		 background-size: cover;
         background-position: center;
}

#titolo_copertina{
	color: white;
	font-family: "Sole_display";
	font-size: 34px;
	text-align: center;
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	padding-top: 40px;
	margin-bottom: @body-lineheight;
	letter-spacing: normal;
}

#info_copertina{
	font-family: "Sole_sub";
	color: white;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

///////////////////////////////////
//BOX TESTO////////////////////////
///////////////////////////////////
.box_testo{
	font-family: "Sole_text";
    font-weight: 400;
	padding-top: @body-lineheight;
	font-size: @body-fontsize;
    line-height: @body-lineheight;

	padding-bottom: @body-lineheight;
}

.box_testo p{
	margin: 0;
}

.titolo_box_testo{
	font-family:  "Sole_display";
	font-size: 35px;
	margin-bottom: @body-lineheight;
	letter-spacing: normal;
}

///////////////////////////////////
//BOX DATAVIZ///////////////////////
///////////////////////////////////
.box_dataviz{
	padding-top: 20px;
	padding-bottom: @body-lineheight;
}

.titolo_dataviz{
	color: black;
	font-family: "SoleSans";
	font-size: 25px;
    line-height: 30px;
	font-weight: 800;
	letter-spacing: normal;
    margin-bottom: 10px;
}

.didascalia_dataviz{
	font-family: "SoleSans";
	color: @dark-grey;
	font-size: 18px;
    line-height: 24px;
	font-weight: 400;
	text-align: left;
	margin-bottom: @body-lineheight;
    padding-top: 5px;
}

//1A DATAVIZ///////////////////////
#copertinaTM {
	opacity: 1;
	transition: opacity 0.5s;
}
#copertinaTM_desktop {
	opacity: 1;
	transition: opacity 0.5s;
}

//2A DATAVIZ///////////////////////

//3A DATAVIZ///////////////////////
#legenda{
    font-family: "SoleSans";
    font-weight: 400;
	color: @dark-grey;
	font-size: 11px;
    padding-left: 15px;
    margin-bottom: 10px;
}

#legenda span{
    padding: 0 1%;
    margin-right: 2px;
}

#covidnumero, #altronumero, #pesteranumero, #blmnumero, #spacenumero, #blmtesto, #spacetesto, #blmlinea, #spacelinea {
	display: none;
}

#tweet1, #tweet2, #tweet3, #tweet4, #newsAssalto, #tweet1_desktop, #tweet2_desktop, #tweet3_desktop, #tweet4_desktop, #newsAssalto_desktop, {
	opacity: 0;
	transition: opacity 0.5s;
}

#setActive, #ottActive, #novActive, #dicActive, #genActive, #settActiveDesk, #ottoActiveDesk, #noveActiveDesk, #diceActiveDesk, #gennActiveDesk  {
    display: none;
	opacity: 0;
	transition: opacity 0.5s;
}

.dataviz2ago {
    display: none;
	opacity: 0;
	transition: opacity 0.5s;
}

///////////////////////////////////
//FOOTER///////////////////////////
///////////////////////////////////
#footer {
	background-color: black;
	padding-top: @body-lineheight;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: @body-lineheight;
}

#logoFooter{
		display: inline-block;
		width: 15%;
		float: left;
}

#testoFooter{
	float: right;
	width: 75%;
	color: white;
	font-family: "SoleSans";
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
}

/* Larger than mobile */
@media screen and (max-width: 480px) {

    #titolo_copertina{
        font-size: 45px;
        padding-top: 65px;
        margin-bottom: @body-lineheight;
    }

    #info_copertina{
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    .box_testo{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
	#copertina{
		height: 100vh;
		background: url('../images/copertina_trump_desktop.jpg') no-repeat;
		background-position: center center;
		background-size: cover;
	}

    #titolo_copertina{
        font-size: 54px;
        padding-top: 40px;
        margin-bottom: @body-lineheight;
    }

    #info_copertina{
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }

}

@media screen and (min-width: 481px){
    .padding{
        	padding-left: 0px;
	        padding-right: 0px;

    }
}

@media screen and (max-width: 800px) {
    #magicTreemap_desktop, #lastgrafico_desktop{
        display: none;
    }
    #viz-2-desktop{
        display: none;
    }
    #lastgrafico .didascalia_dataviz{
        margin-top: 10px;
    }
}

@media screen and (min-width: 801px) {

	#copertina{
		height: 100vh;
		background: url('../images/copertina_trump_desktop.jpg') no-repeat;
		background-position: center center;
		background-size: cover;
	}
    #titolo_copertina{
        font-size: 65px;
        padding-top: 60px;
        margin-bottom: @body-lineheight;
    }

    #info_copertina{
        font-size: 20px;
        font-weight: 400;
        text-align: center;
    }

    #magicTreemap, #lastgrafico{
        display: none;
    }
    #viz-2-mobile{
        display: none;
    }

    #legenda{
        font-size: 16px;
        padding-left: 0px;
        margin-bottom: 10px;
    }
    #legenda span{
        padding: 0 1%;
        margin-right: 12px;
}

    .titolo_dataviz{
        margin-bottom: 20px;
    }

    #copertina{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1024px) {

    #titolo_copertina{
        font-size: 80px;
        padding-top: 120px;
        line-height: 3*@body-lineheight;
        margin-bottom: @body-lineheight;
    }

    #info_copertina{
        font-size: 30px;
        font-weight: 400;
        margin-top: 30px;
    }

    .box_testo{
        border-top: 0px solid @grey;
        border-bottom: 0px solid @grey;
    }

     #box-testo2 .box_testo{
        padding-bottom: 0;
    }
    .titolo_box_testo{
        font-size: 45px;
}
    .padding{
        padding-left: 0;
    }

    .titolo_dataviz{
        font-size: 32px;
        margin-top: 30px;
        line-height: 35px;
    }

    .didascalia_dataviz{
        font-size: 22px;
        line-height: 26px;
        margin-top: 20px;
    }

    #copertina{
        margin-bottom: 30px;
    }
}
